/* Background */
body{
    background: linear-gradient(135deg, #4b79a1, #283e51);   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Center Container */
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}

/* Calculator Box */
.calculator{
    padding: 20px;
    border: 4px solid #5d5d5d;
    background-color: #1e1e26;    
    border-radius: 12px;

    /* Soft shadow */
    box-shadow:
        8px 8px 18px rgba(0,0,0,0.5),
        -4px -4px 12px rgba(255,255,255,0.05);
}

/* Buttons */
input{
    width: 60px;
    height: 60px;
    border: 0;                       
    border-radius: 10px;
    margin: 5px;
    background-color: #2b2b34;            
    color: #e9e9e9;                         
    cursor: pointer;
    font-size: 18px;

    /* Neumorphic shadow */
    box-shadow:
        3px 3px 7px rgba(0,0,0,0.45),
        -3px -3px 7px rgba(255,255,255,0.06);

    transition: 0.2s;
}

/* Hover effect */
input:hover{
    background-color: #3a3a46;
    box-shadow:
        0 0 10px rgba(66, 133, 244, 0.6),
        0 0 20px rgba(66, 133, 244, 0.3);
}

/* Active press */
input:active{
    transform: scale(0.92);
}

/* Display */
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}

/* Display input */
.display input{
    width: 274px;
    height: 60px;
    font-size: 35px;
    background-color: #202028; 
    color: #ffffff;
    text-align: end;
    border-radius: 10px;
    padding-right: 10px;
    border: none;

    box-shadow:
        inset 3px 3px 6px rgba(0,0,0,0.5),
        inset -3px -3px 6px rgba(255,255,255,0.05);
}

/* AC / DEL color */
.colorbtn{
    color: #00e5ff;  
    font-weight: bold;
}

/* Equal Button Wide */
#equal{
    width: 134px;
    background-color: #0dbf89 !important;
    font-weight: bold;
    color: white;
}
